body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    /* overflow: scroll */
}

.col-md-2 {   
    background: #95b4cf;
    text-align: center;
    /* position: fixed; */
}

.btn {
    margin-top: 50px;
    color: #2a5478; 
}

.list-courses {
    text-align: center;
}

.lessons {
    text-align: center;
}

#editor {
    height: 25%; 
}
/* 
#bottom {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%; 
} */